*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  border: 1.2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.mainForm{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}

.inputFld{
  padding: 2px 5px;
  background-color: azure;
  border-radius: 2px;
  border: 0.5px solid black;
  font-size: 12px;
}

.labelFld{
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  color:rgb(1, 1, 32);
}

#submitBtn:hover{
  background-color: rgb(6, 117, 6);
  padding: 2px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 4px;
}

